@import url('https://fonts.googleapis.com/css?family=Roboto|Raleway');

body {
 	font-family: Roboto;
 }

h1, h2 {
	font-family: Raleway;
}

h1 {
  font-size: 300%;
  color: white;
	padding-left: 20px;
	vertical-align: middle;
	line-height: 80px;
	display: inline;
}

@media (max-width: 576px){
  h1 {
    font-size: 20px;
		padding-left: 5px;
  }
	#title-container a {
		font-size: 12px;
	}

  #about {
    padding-top: 80px;
  }
}

#title-container {
	background-color: black;
}

#title-content img{
	height: 50px;
	display: inline;
	padding-left: 20px;
}

#title-content a{
	display: inline;
  line-height: 80px;
  color: white;
  padding-right: 20px;
}

#about a{
  color: black;
  font-weight: bold;
}

#about {
}

.searchbtn {
	padding: 1em;
}

.form-group .row, .venue {
	padding: 0.5em;
}

.jumbotron {
	background: transparent;
}

.form-check-label {
	padding-left: 1em;
}

.main {
	width: 100%;
	padding-top: 50px;
}

.card {
	margin-top: 10px;
}

#col1 {
	min-width: 350px;
}
